<%- include('partials/header') %>


<p></p>
<p></p>

<p class="h5 text-primary " align="center">User Mail :  <%=email%></p>
<p class="h5 text-primary " align="center">User Name :  <%=username%></p>
<p class="h5 text-primary " align="center">User Id : <%=userid%></p>
<p class="h5 text-primary " align="center">User Location : <%=location%></p>



<%- include('partials/footer') %>
